@charset "utf-8";
	.NormalCharacterStyle4
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #F3C14C;
	color : rgb(243, 193, 76);
	text-shadow : 7px 7px 5px rgba(35, 31, 32, 0.75);
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-shadow : 7px 7px 5px rgba(35, 31, 32, 0.75);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-shadow : 7px 7px 5px rgba(35, 31, 32, 0.75);
}
.NormalCharacterStyle3
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #F3C14C;
	color : rgb(243, 193, 76);
	text-shadow : 7px 7px 5px rgba(35, 31, 32, 0.75);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #F3C14C;
	color : rgb(243, 193, 76);
	text-shadow : 7px 7px 5px rgba(35, 31, 32, 0.75);
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-shadow : 7px 7px 5px rgba(35, 31, 32, 0.75);
}
.NormalCharacterStyle6
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #F3C14C;
	color : rgb(243, 193, 76);
	text-shadow : 7px 7px 5px rgba(35, 31, 32, 0.75);
}
