html {
    position: relative;
    margin: 0 auto;
}
#contactpage{
	/* width: auto; */
	height: 850px;

	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #556b2f;
    /* background-image: url("./assets/images/20191118_191955_4.jpg"); */
    background-image: url("../images/Choir/20191013_214935_resized[2]_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-position: center;
    
}
.contactUs{
	background-color: #fff;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.title{
	width: 100%;
	text-align: center;
}
.info{
	width: 100%;
	text-align: center;
}