/* --- STYLES FOR ALL PAGES --- */

--root: background-color: #f3c24e;
background-color: #404040;
background-color: #e0d9dd;
border: 4px solid #e1cfd8;
border: 1px solid #222;
rgba(108, 117, 125, 0.5);
--secondary:#aea79f;
html {
    position: relative;
    margin: 0 auto;
}

header {
    clear: both;
    background-color: #800020;
    display: flex;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid #222;
    opacity: 1.00;
}

logo {
    /* width: 20%;  */
}

.responsive {
    width: 233px;
    height: 180px;
    margin-left: 50px;
    margin-bottom: 8px;
}

nav {
    width: 35%;
    width: 40%;
}


/* header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  } */

.navbar {
    font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e95420;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(66, 16, 16, 0.5);
}

.nav-item {
    margin-right: 15px;
}

#givelify {
    margin: 15px
    /* align-items:center; */
    /* width: 45%  */
}

#givelify button {
    color: #acbf61;
}
.hide {
  display: none;
}
.btn {
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-sean {
    width: 80px;
}


/* .homePic{
    display: inline-block;
    background-image: url("../images/20191118_191955_4.jpg");
    background-position: center;
    background-blend-mode: soft-light;
    background-repeat: no-repeat; 
    background-size: cover;  
    /* justify-content:flex-end; */


/* min-height: 467px;
     width: 100%;  
    } */

.homepage {
    clear: both;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: green;
    color: #556b2f;
    background-image: url("../images/20191118_191955_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    height: 587px;
    
    /* background-color: rgba(0, 0, 0, 0.35); */
    /* opacity: 0.80; */
}


/* .homepage::after {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.07); 
    }*/

give {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    height: auto;
    
    text-align: justify;
    /* text-emphasis: filled red; */
    margin: 1.5%;
    color: #fff;
    color:#404040;
    color: #800020;
    color: black;
    font-size: 18px;
    /* font-weight:900; */
    /* fill-opacity: inherit; */
    line-height: 1.3;
    /* background-color: rgb(208, 224, 230); */
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 3px double #000; */
    /* background-color: rgba(0, 0, 0, 0.07); */
    /* opacity: 10%; */
    background-image: url("../images/vision4.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
        background-size: contain;


    background-position:top;

}

give p {
    font-size: 22px;
}

prayer {
    /* border: 1px double #fff; */
    width: 40%;
    /* height: 30%; */
    margin: 1.5%;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    
}

#prayer-request {
    color: #acbf61;
    text-align: center;
    margin-top: 2%;
}

#form {
    /* display: flex; */
    opacity: 90%;
    background-color: #e95420;
    background-color: #aea79f;
    background-color: #f3c24e;
    background-color: #404040;
    width: auto;
    border: 1px solid #800020;
    color: #fff;
}

.form-group,
prayer button {
    margin: 5%;
}


/* .form-group textarea,.form-group input{
      /* background-color: cornflowerblue;  */


/* width: 95%; 
    } */

join-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

/* events {
    background-color: #f1e3e3e3;
    background-color: #f3c24e;
    background-color: #aea79f;
        background-color: #fbddd2;

    /* background-color: darkgreen; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #792c11;
    border-top: 1px solid #62210b; */
/* }  */


.events h1{
    margin: 18px 0;
    text-align: center;
}
.events-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
}
events h4{
    color:#e95420;
}

events p {
    /* text-align: justify; */
    margin: 3px 8px;
}



reach-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
aboutpage{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   height: auto;
/* max-height: 800px;   */
margin-top: 80px;  
}
 /* #pastor-pic{
    border:solid 2px #000;

} */
/*
#pastor-bio{
    width: 40%;
}
#pastor-bio h1{
    text-align: center;
}
.pastorPic-responsive{
    /* float: left;   */
    /* height: 100%;
    width: 100%; */
    /* max-width: 300px;
    margin-left: 10px; */
/* }  */
#pastor {
	clear: both;
  margin: 0;
  display: flex;
  /* border: 5px solid #333; */
  margin-bottom: 2rem;
  /***********/
  justify-content: center;
}
#pastor div:first-child {
  flex: 1;
    margin-left: 2rem;

   /* width: 25%; */
  background-size: cover;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  /* border: 5px solid #333; */
  /* height: 400px; */

}
#pastor div:last-child {
  margin: 0 2rem;
  flex: 2;
   /* width: 45%; */
}
#pastor:first-of-type div:first-child {
  /* background-image: url("../images/Pastor/20180923_131555.jpg"); */
   background-image: url("../images/Pastor/pastor2.jpg");
  
}

laws, events{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #792c11;
    border-top: 1px solid #62210b;
    background-color: #fbddd2;
/* text-align: center; */

}
.laws h1{
    margin: 18px 0;
    text-align: center;
}

contactpage {
    padding: 0;
    margin: 0;
    clear: both;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    color: green;
    color: #556b2f;
    background-color: #f9fbf3e6;
    background-color: #e9f1f162;
    /* background-image: url("./assets/images/20191118_191955_4.jpg"); */
    /* background-image: url("../images/Choir/20191013_214935_resized[2]_3.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-position: center;
    height: 850px;
}
 #contactForm h1{
    text-align: center;
    
    
} 


#contactForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    -moz-box-shadow: 0 3px 5px -6px #ccc;
    -webkit-box-shadow: 0 3px 5px -6px #ccc;
    box-shadow: 0 5px 5px 3px #ccc;
    border-radius: 0 0 10px 10px;
    border-radius: 30px;
    background: #73AD21;
    background: #fff;
    padding: 20px;
    width: 60%;
    border: 1px solid #f37521;
    border-top: 0;
    margin-top: 50px;
    margin-top: 10px;
    
}
.title{
	width: 100%;
	text-align: center;
    height: 80px;
    margin:0;
}
.info{
	width: 100%;
	text-align: center;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 8px;
}
#contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.form-control-plaintext,
.form-control {
    /* border: 1px solid #f37521; */
    background-color: #e9f1f162;
}
#contactSubBtn, #contactResBtn{
    margin-left: 25%;
}

#serve1{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #e0d9dd; */
    background-color: #000000d6;
    color:#fff;   
    margin-bottom: 1rem;
}
#serve1 h1, #watch1 h1{
    margin: 2rem;
}
.servepage{
    /* top, right, bottom, left:; */
    margin: 0 10%;
    margin: 0 5%;

    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    background-color: rgba(0, 0, 0, 0.023);
    border-top: 2px solid  rgba(0, 0, 0, 0.023);

}
.card{
    margin: 2rem;
    
    color: #404040;
    /* color: #acbf61; */
    color: #800020;
}
#watch1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.watchpage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#video1{
      width: 40%;
        border: 3px solid ;
        text-align: center;
                border: 3px solid  #800020;


}
#video2{
          width: 40%;

        border: 3px solid  #800020;
        text-align: center;

}





/* ************************************************************************************************************************************************************       */

footer {
    background-color: #404040;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
    font-size: 12px;
    border-top: 3px solid #222;
    border-bottom: 24px solid #800020;
}

footer h4 {
    text-align: center;
}

footer h5 {
    text-align: center;
}

logo-footer {
    /* width: 25%; */
}


/* #footer-images{
        list-style: none;

    } */

#footer-logo {
    width: 100px;
    height: 83px;
}

#social-media {
    margin-left: 20px;
    margin-top: 20px;
}

#fb {
    width: 30px;
    height: 30px;
}

logo-footer img {
    /* width: 20%;
        height: 20%; */
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 2px; */
    /* width:100px;
        height:83px; */
    /* margin:3.5%; */
}

vision {
    margin-top: 10px;
    width: 25%;
    text-align: left;
    padding: 1px 8px 0px 5px;
}
.purposeStatement{
    text-align: center;
}


contact {
    width: 25%;
    margin-top: 10px;
    text-align: justify;
    /* padding 1px 1px; */
    padding: 1px 5px 0px 8px;
}

contact p {
    margin-left: 10px;
    text-align: center;
}

links {
    margin-top: 10px;
    width: 25%;
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

#linkHeader {
    width: 100%;
}

.footer-p {
    clear: both;
    text-align: center;
    color: #ededed;
    font-size: 10px;
    font-size: 8px;
    margin-top: 30px;
}

*********************************************************************************************************************************************************** */ @media screen and (max-width: 980px) {
    .responsive {
        width: 190px;
        height: 140px;
    }
    footer {
        font-size: 10px;
    }
    .navbar {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .responsive {
        width: 170px;
        height: 130px;
    }
    footer {
        font-size: 10px;
    }
    .navbar {
        font-size: 15px;
    }
    /* give{
            margin: 6%;
        }
     give img{
        width: 350px;
        height: 400px;

    } */
}

@media screen and (max-width: 640px) {
    .responsive {
        width: 150px;
        height: 110px;
    }
    footer {
        font-size: 10px;
    }
    .navbar {
        font-size: 12px;
    }
    /* contactpage{
            height:680px;
        } */
    /* give{
        margin-left: 0;
        }
    give img{
        width: 290px;
        height: 300px;

    } */
}